!!!
%html
  %head
    %title Gemeinwesen
    %meta{charset: 'utf-8'}/
    %meta{content: 'Michael Kessler - www.netzpiraten.ch', name: 'developer'}/
    %meta{content: 'deutsch, de', 'http-equiv' => 'language'}/
    %meta{content: 'index,follow', name: 'robots'}/
    %meta{content: '7 days', name: 'revisit-after'}/
    %link{href: '/styles/gemeinwesen.css', rel: 'stylesheet', type: 'text/css'}/
    %script{src: 'http://use.typekit.net/faq2qnx.js', type: 'text/javascript'}
    :javascript
      try {
              Typekit.load();
          } catch (e) {
          }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28631984-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  %body
    #header
    #container
      %h1 Gemeinden und Organisationen im Wandel…
      %p
        %strong
          Die gesellschaftlichen Anforderungen an Gemeinden und Organisationen verändern sich stetig und werden
          komplexer. Die Gemeinden und Organisationen sind aufgefordert diese Veränderungen aktiv anzugehen und
          nachhaltige Lösungen zu entwickeln.
      %p
        Gemeinwesen.ch begleitet und unterstützt Organisationen, Gemeinden und Regionen bei Fragestellungen und
        Herausforderungen im gesellschaftlichem Kontext.
      %h2 Möchten Sie…
      %ul
        %li
          %p Als Gemeinde, Region oder Quartier…
          %ul
            %li die Nutzung des öffentlichen Raumes optimieren?
            %li Fragen des Zusammenlebens klären?
            %li die Beteiligung und Mitwirkung der Bevölkerung fördern?
            %li Jugendarbeit aufbauen oder weiterentwickeln?
            %li ein Integrationsprogramm zusammenstellen?
            %li die Prävention fördern?
            %li bestehende Angebote stärken?
            %li eine Situation analysieren?
            %li Konzepte entwickeln?
            %li Ein Fest oder eine Veranstaltung organisieren?
        %li
          %p Als Organisation, Verein oder Partei…
          %ul
            %li ihre Ziele definieren?
            %li die Mitwirkung der Mitglieder fördern?
            %li neue Angebote entwickeln?
            %li Strategien festlegen?
      %h2 Ich biete an
      %ul
        %li Projektmanagement von der Idee bis zur Umsetzung
        %li
          Organisation und Moderation von Grossgruppen-Veranstaltungen, Workshops, runden Tischen, Anlässen und
          Konferenzen
        %li Gestaltung von Veränderungsprozessen unter der Mitwirkung der Beteiligten
        %li Entwicklung von Konzepten, Leitbildern und Massnahmen
      %h2 Zu meiner Person
      %ul
        %li Bachelor in Sozialer Arbeit, Zürich
        %li Master in Gemeinde-, Stadt- und Regionalentwicklung, Luzern
        %li Weiterbildungen in Grossgruppenmethoden, Moderations- und Präsentationstechniken
        %li
          Mehrjährige Berufserfahrung als Jugendarbeiter, Jugendbeauftragter, Integrationsbeauftragter und als
          Fachperson Suchtprävention
        %li Breite Praxiserfahrung als Projektleiter und Moderator von Prozessen in Gemeinden und Organisationen
        %li Erfahrungen als Kommissionsmitglied und als Vorstandsmitglied
      %h2 Kontakt
      %p
        %img{alt: 'Lukas Vogt', src: '/images/lukas_vogt.jpg'}/
      %p
        Lukas Vogt
        %br/
        Spiegelgasse 10
        %br/
        5620 Bremgarten
        %br/
        079 681 30 55
        %br/
        %a{href: 'mailto:info@gemeinwesen.ch'} info@gemeinwesen.ch
